@import url('./views/list-view.css');
@import url('lumo-css-framework/all-classes.css');

a[highlight] {
    font-weight: bold;
    text-decoration: underline;

}

.login-view vaadin-login-overlay-wrapper::part(backdrop) {
  background: url("images/prepbooks.jpg");
  background-size: cover;
}

